$gray: rgb(247,247,247)
$blueMid1: rgb(92,167,255)
$blueMid2: rgb(113,181,255)
$blueDark: rgb(70,153,255)
$blueMain: #6699ff
$gold: #ffac4d
$goldDark: rgb(255,204,51)
$grayTop: rgb(249,249,249)
$gray: rgb(220, 220, 220)
$grayLetters: rgb(140,140,140)

$greenVote: rgb(0,100,0)
$redVote: rgb(204,0,51)

$headerHeight: 100px
$headerBlockWidth: 65%
$headerLineHeight: 40px

$printFont: 10px
