@import _mixins.sass
@import _placeholders.sass
@import _variables.sass

@import /Home/Home.sass
@import /Main/TeamMeeting.sass
@import /Main/DocumentStorage.sass
@import /Main/WelcomePage.sass

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand|Roboto|Material+Icons')
@import url('https://fonts.googleapis.com/css?family=Lato')




html, body, iframe
  margin: 0
  padding: 0
  border: none
  font-family: "Lato"
  font-size: 12px
  min-width: 300px
  min-height: 100vh
  @include mobileMedia {font-size: 10px}

.indent-guide-improved
  background: repeating-linear-gradient(to bottom, rgba(158, 158, 158, 0.2), rgba(0, 0, 0, 0) 2px )
  &.indent-guide-stack
    background: repeating-linear-gradient(to bottom, rgba(158, 158, 158, 0.2), rgba(0, 0, 0, 0) 2px )
    &.indent-guide-active
      background: repeating-linear-gradient(to bottom, rgb(1, 162, 226), rgba(0, 0, 0, 0) 2px )
