@import _mixins.sass
@import _placeholders.sass
@import _variables.sass

@import HomeComponent.sass

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand|Roboto|Material+Icons')
@import url('https://fonts.googleapis.com/css?family=Lato')




html, body, iframe
  margin: 0
  padding: 0
  border: none
  font-family: "Lato"
  font-size: 18px
  min-width: 320px
  @include desktopSmall {font-size: 14px}
  @include mobileMedia {font-size: 10px}


.Header
  width: 100%
  height: $headerHeight
  display: flex
  justify-content: center
  background-color: $grayTop
  .HeaderBlock
    width: $headerBlockWidth
    @include mobileMedia {width: 300px}
    margin-top: 80px
    @include mobileMedia {margin-top: 10px}
    display: flex
    justify-content: space-between
    @include mobileMedia {justify-content: center}
    align-items: center
    img
      width: 30%
    .HeaderButtons
      width: 30vw
      @include mobileMedia {width: 20%}
      min-width: 180px
      height: 35px
      font-size: 1em
      display: flex
      justify-content: flex-end
      align-items: center


.DialogLogin
  display: flex
  flex-direction: center
  align-items: center
  text-align: center
  justify-content: center
  color: $gold





.LogSig
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  margin-bottom: 3vh
  @include mobileMedia {width: 320px}
  h2
    color: $gold
  .button-line
    display: flex
    flex-direction: row
    width: 200px
    align-items: center
    justify-content: space-around
    margin: 10px



.Footer
  display: inline-flex
  justify-content: center
  width: 100%
  background-color: $grayTop
  .FooterBlock
    display: inline-flex
    @include mobileMedia {display: flex}
    @include mobileMedia {flex-direction: column}
    align-items: center
    justify-content: space-between
    @include mobileMedia {justify-content: space-around}
    @include mobileMedia {height: 300px}
    width: $headerBlockWidth
    border-top: 2px solid $blueMid1
    .Logo
      width: 150px
      order: 1
    .ContactInfo
      width: 150px
      order: 2
      text-align: center
      font-size: 0.66em
      color: $blueDark
    .Button
      padding: 0
      width: 150px
      order: 3


.PrivacyTermsWrapper
  width: 100%
  height: 100%
  color: $blueDark
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  .PrivacyTerms
    width: 58%
    margin: 50px auto
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h1
      color: $gold
    .PrivacyPolicy
      text-align: left
      width: inherit
      p
        font-size: 0.75em
        color: $blueMid1

.PromptQComponent
  display: flex
  justify-content: center
  align-items: center
  .PromptWrapper
    display: flex
    flex-direction: column
    width: 50%
    .PromptCard
      display: flex
      flex-direction: column
      align-items: center
      padding: 30px

.Repository
  .SearchBar
    display: flex
    flex-direction: row
    width: 100%
    border-bottom: 2px solid $blueMid1
    align-items: center
    justify-content: space-between
    .ActionButtons
      display: flex
      margin: 0px 50px
      width: 20%
      align-items: stretch
      justify-content: space-around
    .TitleMemberRadio
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      width: 10%
      margin: 15px
      margin-right: 20px
    .SearchParam
      display: flex
      flex-direction: row
      width: 66%
      align-items: stretch
      justify-content: space-between
      .SearchTitle
        display: flex
        flex-direction: column
        align-items: center
        background-color: red
        align-items: center
        justify-content: flex-end
      .SearchDate
        display: flex
        flex-direction: row
        align-items: flex-end
        justify-content: space-around
        width: 20vw
        margin: 0px 20px
  .ContentDisplay
    display: flex
    flex-direction: row
    width: 100%
    height: 67vh
    .meetingList
      overflow-y: scroll
      width: 200px
    .displayContainer
      width: 80%
    h5
      font-family: 'Roboto'
      font-weight: lighter
      color: grey
      font-size: 1em
      padding: 10px

.printing
  display: none

.dictation
  display: block
  padding: 20px
  margin: 10px 10px
  .inputField
    display: flex
    flex-direction: row
    align-items: center
    margin: 0 0
    padding: 0 0
  h1
    font-family: "Roboto"
    overflow: hidden
  h2
    font-family: "Roboto"
    font-size: 0.75em
    font-weight: lighter
    color: grey
    overflow: hidden
  .Help
    margin: 10px 0
    display: flex
    justify-content: space-between
    align-items: center
  .helpDialog
    display: flex
    flex-direction: column
    align-items: center
    text-align: left
    margin: 10px 0
    padding: 0 0
  .deleteButton
    cursor: pointer
  .field-line
    margin: 0px !important
  .head
    display: flex
    flex-direction: row
    align-items: baseline
    justify-content: flex-start
    margin: 0 0
    .meta
      width: 50%
    .title
      max-width: 40vw
      overflow-x: auto
      padding-bottom: 15px
  .sections
    display: flex
    flex-direction: row
    align-items: stretch
    justify-content: space-between
    flex-wrap: wrap
    .section
      width: 33%
      padding: 10px
      .field-line
        font-size: 0.5em
  .navButtons
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    margin-top: 15px
    .recommendedButton
      margin: 0
      padding: 0
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      p
        margin: 0
        padding: 5px
        background-color: $gold
        color: white
        border: 1px solid white
        border-radius: 5px
        position: relative

  .transcript
    height: 50px
    width: 70%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  .listItem
    display: flex
    flex-direction: row
    flex-wrap: nowrap
  .listItem:hover
    font-weight: bold !important

.meeting
  display: flex
  flex-direction: column
  align-items: center
  padding: 40px
  width: 40%
  min-width: 400px
  margin: 20px auto

.header
  background-color: #3366cc
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 100%
  h1
    color: white
    font-family: 'Proxima'
    text-align: center
    font-weight: lighter
    margin: 5px
  img
    height: 60px
    padding: 10px 0
  .drawer
    padding: 0 2vw 0 2vw
  .topBar
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    margin: 0 20px
    .Button
      background-color: transparent
      background-repeat: no-repeat
      cursor: pointer
      overflow: hidden
      outline: none
      padding: 0
      padding-left: 22px
      padding-right: 5px
      margin: 10px 0
      border: 2px solid $blueMid1


.QuestionAndAnswer
  display: flex
  flex-direction: column
  width: 100%
